<!-- <div>
  <img [src]="image">
</div>
<P [class]="spd">subash lakshmanan</P>
<P class="high">subash lakshmanan</P>
  <P class="slow">subash lakshmanan</P>
  <style>
    .speed{
      color: red;
    }
    
    .slow{
      color: rgb(0, 255, 38);
    }
    
    .high{
      color: rgb(21, 0, 255);
    }
  </style> -->
<!-- <button (click)="getset($event)">click me</button>
{{greeting}}
<button (click)="greeting='welcome subash'">click me</button> -->

<!-- <input  type="text"  >
<button (onclick)="getset()">click</button>
<p>{{greeting}}</p> -->
<!-- <input [(ngModel)]="name" type="text">
<p>{{name}}</p> -->


<app-server></app-server>
